
@{
    ViewBag.Title = "ExportPriceList";

}

<h2>Price list for @ViewBag.CustomerName exported, please check your desktop!</h2>
<p class="lead">Press the below button to go back</p>
<p><a class="btn btn-default btn-lg" onclick="location.href='@Url.Action("CustomerList", "Customer")'">Go Back &raquo;</a></p>

