
@{
    ViewBag.Title = "ImportPriceList";
}

<h2>Price and stock imported!</h2>
<p class="lead">Press the button below to go back</p>
<p><a class="btn btn-default btn-lg" onclick="location.href='@Url.Action("CustomerList", "Customer")'">Go Back &raquo;</a></p>

