@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<strong>Address:</strong>
<address>
    5a Mill St E<br />
    Dewsbury<br />
    WF12 9AQ
</address>

<address>
    <strong>Email:</strong>   <a href="sales@icsnorthernltd.com">sales@icsnorthernltd.com</a><br />
</address>

<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>